.THIS .slds-Configs,
.THIS .slds-account{
    width:80%;
    background-color: transparent;
    border: none;
}

.THIS .slds-table_bordered thead>tr+tr>th, 
.THIS .slds-table--bordered thead>tr+tr>th,
.THIS .slds-table--bordered tbody td ,
.THIS .slds-table_cell-buffer tr>th:first-child{
	border-left: 1px solid rgb(221, 219, 218);
	border-bottom: 1px solid rgb(221, 219, 218);
}

.THIS .slds-table--bordered {
    border: 1px solid #d4d4d4;
}

.THIS .slds-spinner_container {
    position: fixed;
}

.THIS .slds-search-user {
	position: relative;
    bottom: -16px;
}

.THIS .slds-form-element__label {
	font-weight: bold;
}